@font-face {
  font-family: 'douyuFont-2';
  src: url("../../../public/assets/douyuFont-2.otf");
}

@font-face {
  font-family: 'DS-DIGIB-2';
  src: url("../../../public/assets/DS-DIGIB-2.ttf");
}

@font-face {
  font-family: 'DS-DIGI-1';
  src: url("../../../public/assets/DS-DIGI-1.ttf");
}

@font-face {
  font-family: 'Milky Han Term CN Heavy Italic';
  src: url("../../../public/assets/Milky Han Term CN Heavy Italic.ttf");
}

@font-face {
  font-family: 'SourceHanSansOLD-Regular';
  src: url("../../../public/assets/SourceHanSansOLD-Regular.otf");
}

.bi-bg {
  width: 1920px;
  height: 1080px;
  /* width: 100%;
  height: 100%; */
  background: url("../../../public/assets/img/bi/bg.jpg") center no-repeat;
  background-size: 100% 100%;
  color: #fff;
  position: relative;
  transform-origin: left top;
  font-family: 'Microsoft YaHei';
}

.bi-header {
  height: 124px;
  background: url("../../../public/assets/img/bi/top-bg.png") center no-repeat;
  background-size: auto 100%;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 5;
}

.bi-date {
  position: absolute;
  top: 20px;
  left: 45px;
}

.bi-date span {
  font-size: 12px;
  color: #b6ceef;
}

.bi-date span.bi-time {
  font-family: 'Arial';
  font-size: 18px;
  font-weight: 600;
  margin-right: 50px;
  color: #fff;
  text-shadow: 0 0 10px #4caaf0;
}

.header-name {
  font-size: 42px;
  font-weight: 600;
  background-image: linear-gradient(#fff, #a8faff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  padding-top: 20px;
}

.header-exit {
  position: absolute;
  top: 15px;
  right: 50px;
  cursor: pointer;
  width: 71px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  font-size: 12px;
  color: #b6ceef;
  background: url("../../../public/assets/img/bi/exit-btn-bg.png") center no-repeat;
  background-size: 100% 100%;
}

.bi-tab-con {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  margin-top: -8px;
  margin-bottom: 10px;
  z-index: 5;
  position: relative;
}

.bi-tab {
  width: 145px;
  height: 31px;
  line-height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../../public/assets/img/bi/tab-bg.png") center no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  margin: 0 5px;
}

.bi-tab span {
  font-family: 'Milky Han Term CN Heavy Italic';
  font-size: 20px;
  background-image: linear-gradient(#a8faff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.bi-tab.active {
  background: url("../../../public/assets/img/bi/tab-bg-active.png") center no-repeat;
  background-size: 100% 100%;
}

.bi-tab.active span {
  background-image: linear-gradient(#5dfd4a, #eeffea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.bi-index-left {
  width: 470px;
  z-index: 2;
}

.bi-index-center {
  width: calc(100% - 980px);
}

.bi-index-right {
  width: 470px;
  z-index: 2;
}

.bi-card {
  position: relative;
}

.bi-card-454 {
  height: 256px;
  background: url("../../../public/assets/img/bi/card-bg-454.png") center no-repeat;
  background-size: 100% 100%;
}

.bi-card-454-641 {
  height: 641px;
  background: url("../../../public/assets/img/bi/card-bg-454-641.png") center no-repeat;
  background-size: 100% 100%;
}

.bi-card-455 {
  height: 909px;
  background: url("../../../public/assets/img/bi/card-bg-455.png") center no-repeat;
  background-size: 100% 100%;
}

.bi-card-920 {
  height: 911px;
  background: url("../../../public/assets/img/bi/card-bg-920.png") center no-repeat;
  background-size: 100% 100%;
}

.bi-card-title {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-family: 'douyuFont-2';
  padding-left: 80px;
  background-image: linear-gradient(#fff 30%, #45ccf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.bi-card-title-more {
  float: right;
  font-size: 14px;
  margin-right: 25px;
  cursor: pointer;
}

.bi-card-title-form {
  position: absolute;
  top: 10px;
  right: 20px;
}

.bi-card-title-form .n-input {
  font-size: 16px;
  height: 26px;
  border-color: #245B99;
  color: #b6ceef;
  background-image: linear-gradient(#245B99, #113C6E);
}

.bi-card-title-form .n-input .n-input__input-el {
  color: #b6ceef;
  height: 26px;
}

.bi-card-title-form .n-input__suffix i {
  line-height: 20px;
  color: #b6ceef;
}

.bi-card-title-unit {
  float: right;
  font-family: 'Microsoft YaHei';
  font-size: 12px;
  color: #e2ff5c;
  background-image: none;
  -webkit-text-fill-color: #e2ff5c;
  margin-right: 25px;
}

.bi-index-tongji-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin-top: 40px;
}

.bi-index-tongji-top-col {
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #b6ceef;
}

.bi-index-tongji-top-col img {
  margin-right: 15px;
}

.bi-index-tongji-top-num {
  font-family: 'DS-DIGIB-2';
  font-size: 36px;
  color: #fff;
  line-height: 1.1;
  text-shadow: 0 0 10px #4caaf0;
}

.bi-index-tongji-top-num span {
  font-size: 14px;
  font-family: 'Microsoft YaHei';
  margin-left: 6px;
}

.bi-index-tongji-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
  margin-top: 15px;
}

.bi-index-tongji-bottom-col {
  font-size: 14px;
  color: #b6ceef;
}

.bi-index-tongji-bottom-num {
  font-family: 'DS-DIGIB-2';
  font-size: 36px;
  color: #fff;
  line-height: 1.1;
  text-shadow: 0 0 10px #4caaf0;
}

.bi-index-baojing-top {
  height: 36px;
  line-height: 38px;
  background: url("../../../public/assets/img/bi/baojing-bg.png") center no-repeat;
  background-size: 100% 100%;
  padding: 0 10px;
  margin: 5px 0;
  overflow: hidden;
}

.bi-index-baojing-top-scroll {
  display: flex;
}

.bi-index-baojing-top-inner {
  display: flex;
  align-items: center;
}

.bi-index-baojing-top-inner div {
  height: 36px;
  width: calc(100% - 140px);
  font-size: 16px;
  overflow: hidden;
}

.bi-index-baojing-top-inner span {
  width: 140px;
  font-size: 12px;
  color: #b6ceef;
}

.bi-index-baojing-table table {
  width: 100%;
}

.bi-index-baojing-table .n-data-table {
  background: none;
  color: #fff;
}

.bi-index-baojing-table .n-data-table .n-data-table-table, .bi-index-baojing-table .n-data-table .n-data-table-thead {
  background: none;
}

.bi-index-baojing-table .n-data-table .n-data-table-th {
  height: 30px;
  font-size: 12px;
  color: #b6ceef;
  font-weight: normal;
  border: none;
}

.bi-index-baojing-table .n-data-table .n-data-table-tr:not(.n-data-table-tr--summary):hover, .bi-index-baojing-table .bi-index-baojing-table .n-data-table .n-data-table-tr:not(.n-data-table-tr--summary):hover, .bi-index-baojing-table .n-data-table .n-data-table-tr:not(.n-data-table-tr--summary):hover > .n-data-table-td {
  background: none;
}

.bi-index-baojing-table .n-data-table th, .bi-index-baojing-table .n-data-table td {
  background: none;
}

.bi-index-baojing-table .n-data-table .n-data-table-td {
  color: #fff;
  height: 38px;
  font-size: 14px;
  border-bottom: 1px solid #072A52;
  border-right: none;
  overflow: hidden;
  text-align: center;
}

.bi-index-baojing-table .n-data-table.n-data-table--bottom-bordered .n-data-table-td.n-data-table-td--last-row {
  border-bottom: 1px solid #072A52;
}

.bi-index-baojing-table .n-pagination .n-pagination-item.n-pagination-item--button {
  min-width: 15px;
  width: 15px;
  height: 18px;
  background: none;
  border: none;
}

.bi-index-baojing-table .n-pagination .n-pagination-item.n-pagination-item--button .n-base-icon {
  color: #BBBD33;
}

.bi-index-baojing-table .n-pagination .n-pagination-item:not(.n-pagination-item--disabled):hover, .bi-index-baojing-table .n-pagination .n-pagination-item:not(.n-pagination-item--disabled):hover.n-pagination-item--button {
  border: none;
}

.bi-index-baojing-table .ivu-page.mini .ivu-page-prev {
  background: url("../../../public/assets/img/bi/page-left.png") center no-repeat;
  background-size: 100% 100%;
}

.bi-index-baojing-table .ivu-page.mini .ivu-page-next {
  background: url("../../../public/assets/img/bi/page-right.png") center no-repeat;
  background-size: 100% 100%;
}

.bi-index-baojing-table .n-pagination .n-pagination-item {
  min-width: auto;
  height: auto;
  line-height: 1;
  color: #4fa9ed;
  font-size: 14px;
  font-weight: bold;
  background: none;
  margin: 0 7px;
  border: none;
}

.bi-index-baojing-table .n-pagination .n-pagination-item:not(.n-pagination-item--disabled).n-pagination-item--active {
  color: #fff;
  border: none;
}

.bi-num {
  font-family: 'DS-DIGIB-2';
  font-size: 36px;
  color: #fff;
  text-shadow: 0 0 10px #4caaf0;
  line-height: 1.1;
}

.bi-unit {
  font-size: 12px;
  text-shadow: 0 0 10px #4caaf0;
  margin-left: 5px;
}

.bi-zonglan-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.bi-zonglan-top img {
  margin-right: 20px;
}

.bi-runhua-shebei div {
  font-size: 14px;
  color: #b6ceef;
}

.bi-runhua-shebei div.bi-num {
  font-size: 36px;
}

.bi-zonglan-col-con {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.bi-zonglan-col {
  font-size: 14px;
  color: #fff;
}

.bi-zonglan-col img {
  margin-right: 5px;
}

.bi-zonglan-col .bi-num {
  font-size: 28px;
}

.bi-shijan-col-con {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 14px;
}

.bi-shijan-col {
  color: #b6ceef;
  font-size: 14px;
}

.bi-shijan-col span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
}

.bi-shijan-col .bi-unit {
  color: #fff;
}

.bi-chart-title {
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.bi-chart-title div {
  background-image: linear-gradient(#fff 30%, #45ccf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  font-size: 20px;
  font-family: 'SourceHanSansOLD-Regular';
  font-weight: 600;
}

.bi-chart-con {
  width: 436px;
  height: 270px;
  background: url("../../../public/assets/img/bi/chart-bg.png") center no-repeat;
  background-size: 100% 100%;
  margin: 0 8px 12px 8px;
  padding-top: 10px;
}

.bi-chart-top {
  display: flex;
  align-items: center;
  padding: 6px 0;
}

.bi-chart-top-left {
  width: 24.4%;
  color: #b6ceef;
  font-size: 14px;
  text-align: center;
}

.bi-chart-top-left .bi-num {
  font-size: 32px;
}

.bi-chart-top-col {
  width: 18.6%;
  font-size: 14px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bi-chart-top-col .bi-num {
  font-size: 24px;
}

.bi-chart-top-col span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
}

.shebei-table {
  padding: 10px;
}

.shebei-table table {
  width: 100%;
}

.shebei-table tr th {
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: #a1b8cd;
  background-color: #06203f;
  border-top: 1px solid #085BA1;
}

.shebei-table tr td {
  height: 90px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #06203f;
}

.shebei-table tr td img {
  margin-right: 6px;
}
