@font-face {
  font-family: 'LcdD';
  src: url(../../public/assets/LcdD.ttf);
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.config-con {
  position: relative;
}

.config-header {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 10;
}

.config-header a {
  color: #fff;
  font-size: .16rem;
}

.config-header-btn {
  float: left;
  margin-top: .1rem;
  margin-left: 20px;
}

.config-header-btn a {
  float: left;
  padding: 0 15px;
  height: .26rem;
  border-radius: .02rem;
  border: solid .01rem #e7e7e7;
  color: #fff;
  line-height: .26rem;
  text-align: center;
  margin-left: .2rem;
  font-size: .12rem;
}

.config-left, .config-right, .config-item-con {
  position: fixed;
  top: 50px;
  height: calc(100% - 50px);
}

.config-left, .config-right {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}

.config-left {
  left: 0;
  width: 60px;
  z-index: 10;
}

.config-left ul li {
  padding: 12px 0;
  text-align: center;
  font-size: .15rem;
  cursor: pointer;
}

.config-left ul li a {
  color: #ddd;
}

.config-left ul li i {
  font-size: .3rem;
  margin-bottom: 6px;
}

.config-left ul li.active a, .config-left ul li:hover a {
  color: #fff;
}

.config-left ul li.active {
  background-color: #4c84ff;
}

.config-right {
  right: 0;
  width: 320px;
  overflow: auto;
  z-index: 10;
}

.config-right .n-tabs-nav .n-tabs-tab {
  color: #fff;
}

.config-right-hide {
  width: 0;
}

.config-item-con {
  left: 60px;
  width: 280px;
  padding: 5px;
  background: #fff;
  z-index: 10;
}

.config-center {
  height: calc(100% - 50px);
  overflow: auto;
  margin-left: 60px;
  position: absolute;
}

.config-center-bg {
  background: url(../../../public/assets/img/drag-bg.png) center repeat;
}

.svg-div img {
  width: 100%;
  height: 100%;
}

.drop {
  height: 100%;
}

.contextmenu-con {
  position: fixed;
  z-index: 100;
  background-color: #ffffff;
  padding: 5px 0;
}

.contextmenu-con li {
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.contextmenu-con li:hover {
  background-color: #eeeeee;
}

.config-right-toggle-btn {
  padding: 3px 5px;
}

.config-right-toggle-btn a {
  color: #fff;
}

.config-right-toggle-btn a .icon {
  font-size: .26rem;
}

.config-right-toggle-btn a:hover {
  color: #fff;
}

.config-right-hide-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 85px;
  right: 20px;
}

.config-right-hide-btn .icon {
  transform: rotate(180deg);
}

.config-right-from-con {
  padding: .1rem;
  color: #fff;
}

.config-right-from-con .n-form-item {
  margin-bottom: 10px;
  color: #fff;
}

.config-right-from-con .n-form .n-form-item-label {
  color: #fff;
}

.config-right-from-con .n-form-item-feedback-wrapper {
  display: none;
}

.config-right-from-con .n-collapse .n-collapse-item .n-collapse-item__header .n-collapse-item__header-main, .config-right-from-con .n-collapse .n-collapse-item .n-collapse-item__header .n-collapse-item-arrow {
  color: #fff;
}

.config-right-from-con .n-color-picker-trigger__value {
  display: none;
}

.config-item-top {
  text-align: center;
  font-size: .15rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 8px;
  line-height: 40px;
}

.config-item-top .icon {
  float: right;
  margin-right: 5px;
  font-size: .2rem;
  margin-top: 8px;
}

.config-item-type-con {
  background-color: #fff;
}

.config-item-type-con ul {
  padding: 10px 0;
}

.config-item-type-con ul li {
  float: left;
  width: 42%;
  margin: 0 4% 10px 4%;
  border: 1px solid #eeee;
  text-align: center;
  line-height: 30px;
  font-size: .14rem;
  border-radius: 5px;
  cursor: pointer;
}

.config-item-type-con ul li.active {
  border-color: #2d8cf0;
}

.config-item-list {
  column-count: 2;
  column-gap: 0;
}

.config-item-list li {
  padding: 10px;
  border: 1px solid #fff;
  cursor: move;
  display: flex;
  justify-content: center;
}

.config-item-list li img {
  max-width: 100%;
  min-width: 50px;
  max-height: 100px;
}

.config-item-list li:hover {
  border: 1px solid #efefef;
}

.config-img-item-list {
  column-count: 3;
}

.config-item-list-con {
  position: relative;
  overflow: auto;
}

.upload-img-list li {
  position: relative;
}

.upload-img-list li:hover .upload-img-del {
  opacity: 1;
}

.upload-img-del {
  position: absolute;
  top: 0;
  right: 0;
  color: #333;
  font-size: .2rem;
  opacity: 0;
}

.config-common-item-list li {
  float: left;
  width: 50%;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #fff;
  cursor: move;
}

.config-common-item-list li .icon {
  font-size: .55rem;
}

.config-common-item-list li h3 {
  font-size: .16rem;
  font-weight: normal;
}

.config-common-item-list li:hover {
  border: 1px solid #efefef;
}

.config-font-style-a-con a {
  display: inline-block;
  width: 32%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #fff;
  border-right: 1px solid #efefef;
  box-sizing: border-box;
}

.config-font-style-a-con a .icon {
  font-size: .18rem;
}

.config-font-style-a-con a:last-child {
  border-right: none;
}

.config-font-style-a-con a.active {
  background-color: #2d8cf0;
  color: #fff;
}

.drag-weather-con {
  position: relative;
  text-align: center;
}

.drag-weather-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 2;
}

.svg-img-con {
  display: inline-block;
  overflow: hidden;
}

.config-cover img {
  width: 100%;
  cursor: pointer;
}

.config-modal .ivu-modal {
  width: 100% !important;
  top: 0;
}

.config-modal .ivu-modal-close .ivu-icon-ios-close {
  color: #fff;
}

.config-modal .ivu-modal-body {
  padding: 0;
}

.base-modal-con {
  padding-top: 30px;
}

.swal2-container {
  z-index: 2000;
}

.sel-div {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px dashed #999;
}

.led-con {
  font-family: 'lcdd';
}

.back-drag-able {
  cursor: move;
}

.sensor-status {
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.svg-switch-con {
  cursor: pointer;
}

.progress-con {
  position: relative;
}

.progress-outer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.progress-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  height: 100%;
}

.config-view-item {
  position: absolute;
  transform: translate3d(0, 0, 0);
}

.view-config-con {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 0 0;
}

.device-status {
  position: absolute;
  top: -5px;
  right: -5px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: red;
}

.device-status.stop {
  background-color: #00CC33;
}

.device-type-text {
  position: absolute;
  top: -18px;
  right: 3px;
  display: inline-block;
  width: 30px;
  height: 16px;
  text-align: center;
  font-weight: bold;
}

.zoom-con {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.zoom-con a {
  font-size: 20px;
  font-weight: bold;
}

.zoom-con a:first-child {
  margin-right: 15px;
}
