@font-face{
  font-family: 'din-bold-2';
  src: url('../../../public/assets/din-bold-2.ttf');
}
.home-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 20px 0 20px;
}
.home-card-title {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  hr {
    width: 4px;
    height: 18px;
    background-color: #1F4D9C;
    border-radius: 4px;
    margin-right: 5px;
  }
}
.home-col-con {
  display: flex;
  padding-top: 10px;
}
.home-col {
  width: 300px;
  height: 134px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 0 15px 30px 15px;
  border-radius: 8px;
  img {
    margin-right: 12px;
  }
  span {
    font-size: 40px;
    font-family: 'din-bold-2';
    line-height: 1.2;
    margin-right: 5px;
  }
}
.home-col-1 {
  display: inline-block;
  background-color: #F7F8FA;
}
.home-col-title {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  padding-top: 15px;
  margin-left: -15px;
  img {
    margin-right: 5px;
  }
}
.home-col-box {
  display: flex;
  align-items: center;
  padding-top: 5px;
}
.home-col-box-col {
  // width: 50%;
  font-size: 16px;
  color: #666;
  span {
    font-size: 36px;
    font-family: 'din-bold-2';
    color: #333;
    line-height: 1;
    margin-right: 5px;
  }
}
.home-col-box-col-title {
  height: 20px;
  margin-bottom: 5px;
}