$blueColor: #1864aa;
html {
  font-size: 625%;
}
@media screen and (min-width: 1441px) and (max-width: 1600px) {
  html {
    font-size: 520%;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  html {
    font-size: 460%;
  }
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 420%;
  }
}
.login{
  width: 100%;
  height: 100%;
  background-image: url('../../public/assets/img/login-bg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}
.login-bg{
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
.login-div {
  
}
.login-con{
  width: 5.5rem;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
}
.login-title{
  margin-bottom: .2rem;
  font-size: .24rem;
  font-weight: bold;
  text-align: center;
}
.login-top {
  height: 76px;
  margin-top: .15rem;
  img {
    width: 100%;
  }
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .65rem .83rem .8rem .83rem;
  .n-form .n-form-item__label {
    color: #999;
  }
  .n-form-item .n-form-item__label:before {
    content: '';
    margin-right: 0;
  }
  .n-form-item {
    margin-bottom: 18px;
  }
  .n-input .n-input__input-el {
    height: .48rem;
    line-height: .48rem;
    border-radius: 4px;
  }
}
.login-btn{
  height: .5rem;
  border: none;
  background: none;
  margin-top: .3rem;
  padding: 0;
  cursor: pointer;
  &:hover, &:active, &:focus {
    border: none;
    box-shadow: none;
  }
  img {
    width: 100%;
    height: .5rem;
  }
}
.login-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: .6rem;
  text-align: center;
  font-size: .12rem;
  color: #999;
}
.drag_verify {
  border: 1px solid #d4d4d4;
  margin-top: .45rem;
}
.drag_verify .dv_handler i {
  color: #fff !important;
}
